/* content */
.content{
    width: 100%;
    padding: 0px 375px;
}
.content-game{
    width: 100%;
    /* padding-bottom: 50px; */  /* sửa */
    /* background: linear-gradient(180deg, rgb(3, 6, 11) 0%, rgb(15, 34, 54) 100%);  */
    background-color: #020F21; /* sửa */
    box-shadow: 32px 32px 32px 32px rgba(4, 15, 30, 0.25);
}
.content-btn{
    padding: 6px;
    border-radius: 4px;
    background-color: rgba(0, 179, 255, 0.3);
    border: 1px solid rgba(0, 179, 255, 0.7);
    font-size: 18px;
    transition: 0.2s ease-out;
}
.content-btn:hover{
    background-color: rgba(0, 179, 255, 1);
}
/* content header  */
.content-header ,.menu-view-top{
    width: 100%;
    background: linear-gradient(270deg, rgb(3, 6, 11) 0%, rgb(17, 39, 62) 100%);
    display: flex;
}

/* menu view top  */
.content-header ul *, .menu-view-top *{
    line-height: 90px;
}
.content-header li , .menu-view-top *{
    font-size: 20px;
    padding: 0px 20px;
    height: 90px;
    color: #2CBCFC; /* sửa */
}
.content-header-item, .menu-view-top >*{
    padding: 0px 33.2px !important;
    transition: 0.2s ease-out;
}
.content-header-item:hover, .menu-view-top >*:hover{
    background-color: #08121D;
    border-bottom: 4px solid #166182;
}

/* list game  */
#list-game{
    display: block;
}
.row-game{
    width: 100%;
    display: flex;
}
.container-item-game{
    width: 33.33%;
    /* height: 235px; */
    padding: 0px 1.35% 2.7%;
}
.item-game{
    width: 100%;
    height: 100%;
    position: relative;
}
.item-name-and-price{
    width: 150px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.item-name-and-price p{
    font-size: 20px;
}
.item-name-and-price h4{
    font-size: 18px;
    color: #FF8800;
}
.item-name-and-price s{
    color: #FF8800;
}
.item-game i{
    margin-right: 8px;
    color: #FF3B09;
    font-size: 20px;
}
.item-game i:hover .item-favorite{
    display: flex;
}
.item-favorite{
    position: absolute;
    display: none;
    top: -35px;
    left: -30%;
    height: 35px;
    padding: 0px 5px;
    border-radius: 4px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 100;
    background-color: rgba(7, 25, 44, 0.85);
}
.item-add{
    padding: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.game-sale:after{
    position: absolute;
    top: 2px;
    right: 2px;
    height: 28px;
    width: 47px;
    border-radius: 5px;
    background-color: #FF3B09;
    content: "-0%";
    line-height: 28px;
    text-align: center;
}

/* menu view top  */
.menu-view-top{
    /* = content-header */
}
.menu-view-top-left{
    text-align: left;
}
.menu-view-top-right{
    text-align: right;
}
.menu-view-top-center{
    text-align: center;
}

.infomation-product{    /* mới */
    margin: 20px;
    font-size: 17px;
    line-height: 2rem;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2CBCFC;;
}

#species-game{  /* mới */
    margin: 32px 20px;
    font-size: 17px;
    color: #2CBCFC; 
}
